.box {
  width: 100%;
  margin: 20px;
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Search_box {
  width: 100%;
  height: 50px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
  background-color: #e6ecfc;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.Search_bar_line {
  display: flex;
  align-items: center;
}
.Search_bar {
  width: 350px;
  height: 30px;
  border-radius: 20px 0px 0px 20px;
  margin-left: 20px;
  padding-left: 20px;
}
.searchType {
  border-radius: 0px 20px 20px 0px;
  height: 30px;
  color: var(--text_3);

}
.SeachBtn {
  border-radius: 5px;
  width: 40px;
  height: 30px;
  background-color: var(--main);
  margin-left: 10px;
}
.menuItem {
  color: var(--text_5) !important;
  display: inline-block !important;
}
@media (max-width: 1080px) {
  .menuItem {
    font-size: 12px;
  }
}

.activeItem {
  color: var(--main) !important;
  border-color: var(--main) !important;
}
.Menubar {
  border: 1px solid var(--main) !important;
  border-radius: 10px !important;
  min-width: 550px;
}

.P_text_h4 {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid var(--text_5);
}
.allContent {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.P_content {
  margin-top: 10px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
  height: 400px;
  min-width: 400px;
  display: grid;
  grid-template-rows: 80px 280px;
  overflow: hidden;
}
.PostContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
}
.SNSContent {
  display: flex;
  margin-bottom: 30px;
  border-top: 0.5px solid var(--text_5);
  margin: 10px 20px 30px 20px;
  justify-content: space-between;
}
.SNSbody {
  display: flex;
  flex-direction: column;
}
.Oww_content {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
  width: 100%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.SNS_owwPhoto {
  height: 320px;
  width: 250px;
  overflow: auto;
  margin: 10px;
}
.oww_photo {
  width: 100%;
  height: 300px;
  border-radius: 20px;
}
@media (max-width: 1280px) {
  .SNS_owwPhoto {
    height: 270px;
    width: 200px;
  }
  .oww_photo {
    height: 250px;
  }
  .SNS_title {
    font-size: 12px;
    width: 150px;
  }
}

@media (max-width: 947px) {
  .SNS_owwPhoto {
    height: 170px;
    width: 140px;
  }
  .oww_photo {
    height: 160px;
  }
  .SNS_love_Text {
    display: none;
  }
  .SNS_nickname {
    font-size: 12px;
  }
  .SNS_title {
    font-size: 12px;
    width: 100px;
  }
  .UserName1 {
    display: none;
  }
}

.P_list {
  display: flex;
  align-items: center;
  margin: -1px 15px 0px 15px;
  justify-content: space-between;
  cursor: pointer;
}
.UserProfile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.UserPhoto {
  width: 40px;
  margin-right: 8px;
  border-radius: 50px;
}
.UserName1 {
  margin-top: 5px;
  margin-right: 20px;
  color: var(--main);
  font-weight: bold;
  font-size: var(--h6);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nickname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70px;
  font-size: 12px;
}
.SNS_nickname {
  margin-top: 20px;
  margin-bottom: 8px;
}

.noneMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.SNSContent_list {
  cursor: pointer;
}
.SNS_userInfo {
  display: flex;
}
.photo {
  width: 220px;
  border-radius: 20px;
  margin-top: 20px;
}

.SNS_photo {
  height: 240px;
}
.SNS_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
  margin-left: 10px;
}
.Oww_text_h4 {
  padding-top: 20px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.SNS_footer {
  display: flex;
  justify-content: space-between;
}
.SNS_love {
  margin-right: 20px;
  display: flex;
  white-space: nowrap;
}
.SNS_love_Text {
  font-size: 12px;
}
.SNS_love_count {
  font-size: 12px;
}
.loveSVG {
  width: 20px;
  margin-right: 3px;
}
.SNS_dietContent {
  display: flex;
  margin-bottom: 30px;
  margin: 10px 20px 30px 20px;
  justify-content: space-between;
}
.SNS_UserNav {
  display: flex;
  align-items: center;
}
.UserPhoto {
  width: 30px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 50px;
}
