.mapContainer {
    margin-left: 240px;
    /* aspect-ratio: 12 / 7.85; */
    width: 185vh;
    height: 100vh;
}

.modalContainer {
    z-index: 0;
    text-align: center;
    margin-left: 240px;
    width: 100%;
    display: flex;
    /* position: fixed; */

}

.hiddenContainer{
    display: none;
}
.placeInfo {
    background-color: white;
    position: absolute;
    bottom: 10%;
    right: 27%;
    z-index: 1;
    width: 500px;
    padding: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

#exit{
    text-align: right;
}

#place {
    font-size: var(--h3);
    margin-bottom: 10px;
}

#address{
    font-size: var(--h6);
    margin-bottom: 5px;
}

#phone {
    margin-bottom: 5px;
}

#kakaoMapBtn{
    width: 35%;
    padding: 7px 0;
    border: 3px solid grey;
    background-color: yellow;
    border-radius: 10px;
    font-size: var(--h6);
    transition: all 200ms ease-in-out;
}