.mapContainer{
    width: 100%;
    height: 100%;
}

.mapContainer .topContainer{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 240px;
    position: absolute;
    z-index: 99;

    
}

.topContainer .facilities {
    margin: 10px;
    padding: 5px;
    border: 1px solid var(--text_4);
    border-radius: 5px;
    font-size: var(--h6);
    height: 30px;
    cursor: pointer;
    /* vertical-align: middle; */
}

.topContainer .facilities:hover {
    border: 2px solid var(--main);
}

#mylocation{
    margin: 10px;
    cursor: pointer;
}