.container {
  display: grid;
  grid-template-areas:
    'header  header'
    'contentL  contentR'
    'contentL  contentR'
    'contentL  contentR'
    'contentL  contentR'
    'footer  footer';
  height: 600px;
  width: 100%;
  max-width: 1000px;
  min-width: 800px;
  background-color: #eef8ff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
}
.leftbox {
  grid-area: contentL;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
}
.rightbox {
  grid-area: contentR;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
}
.signup__form {
  border: 1px solid black;
  border-radius: 5px;
  height: 35px;
  width: 290px;
  margin: 5px 0;
}

.OAuthbox {
  grid-area: footer;
}
.logo {
  width: 155px;
}
.button {
  background-color: var(--main);
  color: white;
  border-radius: 10px;
  width: 130px;
  height: 40px;
}
.button:hover {
  background-color: blue;
  transition: 0.7s;
}
.signupButton {
  grid-area: footer;
  margin-left: 120px;
}
.h6 {
  color: var(--text_5);
}
