.box {
  height: 100%;
  background-color: white;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}
.login__form {
  border: 1px solid black;
  border-radius: 5px;
  height: 35px;
  width: 290px;
  padding-left: 3px;
}
.formID {
  margin: 10px;
}
.formPassword {
  margin: 10px;
  padding-top: 20px;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.button {
  background-color: var(--main);
  color: white;
  border-radius: 10px;
  width: 130px;
  height: 40px;
}
.button:hover {
  background-color: blue;
  transition: 0.7s;
}

.OAuth {
  margin-top: 40px;
}

.OAuth2 {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}
.OAuthBtn {
  margin: 20px;
  background-color: white;
}
.OAuthText {
  display: flex;
  justify-content: center;
  color: var(--main);
}
.errorMessage {
  color: red;
  font-size: 12px;
  position: fixed;
}
