.box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login__form {
  border: 1px solid var(--line_1);
  border-radius: 5px;
  height: 42px;
  width: 100%;
  padding-left: 10px;
}
.formPassword,
.formID {
  display: flex;
  flex-direction: column;
  width: 320px;
}
.formPassword {
  margin-top: 20px;
}
.h5 {
  color: var(--text_3);
  margin-bottom: 10px;
}
.buttons {
  width: 320px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.button {
  flex: 1;
  margin-left: 10px;
  background-color: var(--main);
  color: white;
  border-radius: 6px;
  width: 130px;
  height: 40px;
}
.button:first-child {
  margin-left: 0;
  background-color: white;
  border: 1px solid var(--main);
  color: var(--main);
}
.button:first-child:hover {
  background-color: rgb(219, 219, 241);
  transition: 0.2s;
}
.button:hover {
  background-color: blue;
  transition: 0.2s;
}

.OAuth {
  margin-top: 40px;
}

.OAuth2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.OAuthTitle {
  width: 320px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}
.line {
  flex: 1;
  border-top: 1px solid var(--line_1);
}
.OAuthTitleText {
  font-size: 13px;
  color: var(--text_4);
  margin: 0 10px;
}

.OAuthBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border: 1px solid var(--line_2);
  background-color: white;
  padding: 10px 10px;
  margin-bottom: 15px;
  border-radius: 30px;
}

.OAuthText {
  font-size: 13px;
  display: flex;
  justify-content: center;
  color: var(--text_4);
  margin-left: 10px;
}
.errorMessage {
  color: red;
  font-size: 12px;
  position: fixed;
  margin-left: 60px;
}
