.layout {
  display: flex;
  padding: 120px 120px 120px 350px;
  align-items: center;
  justify-content: center;
  background-color: var(--bg_2);
}

.svg_logo {
  border-radius: 40px 0px 0px 40px;
  min-width: 0;
  max-width: 500px;
}

.login_box {
  background: white;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
  display: flex;
  border-radius: 40px;
  max-width: 900px;
  min-width: 380px;
  width: 100%;
  height: 500px;
}
.img_container {
  display: flex;
}
.leftText {
  font-weight: bold;
  color: var(--main);
}
.leftText2 {
  font-weight: bold;
  color: var(--main);
  display: flex;
  justify-content: flex-end;
}
.leftTextLine {
  display: flex;
  justify-content: flex-end;
}
.logo {
  margin-top: 40px;
  width: 155px;
}
.loginbox {
  display: flex;
  align-items: center;
}
