running: local

domain:
  front: http://localhost:3000
#  back: http://localhost:8080
  back: http://ec2-3-34-96-242.ap-northeast-2.compute.amazonaws.com

chat-gpt:
  secret-key: ${CHAT_GPT_SECRET_KEY}

cloud:
  aws:
    s3bucket: helfit.life/files
    access-key: ${AWS_ACCESS_KEY}
    secret-key: ${AWS_SECRET_KEY}
    stack:
      auto: false
    region:
      static: ap-northeast-2

spring:
  profiles:
    include: common
    active: local
  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: embedded
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    url: jdbc:h2:mem:testdb;NON_KEYWORDS=USER
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
    defer-datasource-initialization : true
  sql:
    init:
      mode:
      data-locations: classpath*:db/h2/data.sql
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    check-template-location: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_ID}           # 앱 비밀번호 발급 google gmail 계정
    password: ${GMAIL_PASSWORD}     # 앱 비밀번호
    properties:
      mail:
        smtp:
          starttls:
            enable: true
            required: true
          auth: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  security:
    oauth2:
      client:
        registration:
          google:
            clientId: ${GOOGLE_CLIENT_ID}
            clientSecret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
          naver:
            clientId: ${NAVER_CLIENT_ID}
            clientSecret: ${NAVER_CLIENT_SECRET}
            clientAuthenticationMethod: post
            authorizationGrantType: authorization_code
            redirectUri: "{baseUrl}/{action}/oauth2/code/{registrationId}"
            scope:
              - name
              - nickname
              - email
              - profile_image
            clientName: Naver
          kakao:
            clientId: ${KAKAO_CLIENT_ID}
            clientSecret: ${KAKAO_CLIENT_SECRET}
            clientAuthenticationMethod: post
            authorizationGrantType: authorization_code
            redirectUri: "{baseUrl}/{action}/oauth2/code/{registrationId}"
            scope:
              - profile_nickname
              - profile_image
              - account_email
            clientName: Kakao
        provider:
          naver:
            authorizationUri: https://nid.naver.com/oauth2.0/authorize
            tokenUri: https://nid.naver.com/oauth2.0/token
            userInfoUri: https://openapi.naver.com/v1/nid/me
            userNameAttribute: response
          kakao:
            authorizationUri: https://kauth.kakao.com/oauth/authorize
            tokenUri: https://kauth.kakao.com/oauth/token
            userInfoUri: https://kapi.kakao.com/v2/user/me
            userNameAttribute: id

logging:
  level:
    org.hibernate.SQL: trace
    org.hibernate.type.descriptor.sql.BasicBinder: trace

# Cors
cors:
  allowed-headers: "*"
  allowed-origins: "*"
  allowed-methods: GET,POST,PATCH,PUT,DELETE,OPTIONS
  max-age: 3600

# Auth & OAuth
app:
  auth:
    tokenSecret: ${JWT_SECRET_KEY}
    tokenExpiry: 864000000
    refreshTokenExpiry: 864000000
  oauth2:
    authorizedRedirectUris:
      - http://localhost:3000/oauth2/receive
