.inputDiv{
    display: flex;
    flex-direction: column;   
    margin: 20px 30px;
}

.inputDiv > label{
   margin: 10px 0;
}


.inputDiv .info{
    border: 1px solid #B1B1B1;
    width: 340px;
    height: 25px;
    padding: 2px 5px;
}

.inputDiv .inputP{
    margin-top: 20px;
    text-align: right;
}

.inputDiv span{
    margin-top: 20px;
 }

#submitBtn {
    width: 80px;
    height: 27px;
    border-radius: 2px;
    color: white;
    background-color: var(--main);
    
}