.boxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.innerContainer {
    font-size: var(--h5);
    color: var(--text_5);
}