.commentContainer {
    width: 100%;
    height: 400px;
    padding: 0 15px;

}

.title {
    font-size: var(--h3);
    color: var(--text_2);
    font-weight: 450;
}

.topLine {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.comment {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(15, 73, 166, 0.08);
    margin: 7px;
    padding: 7px 0;
}

.commentTitle {
    color: var(--main);
    font-size: var(--h6);
    padding: 4px 0;
    cursor: pointer;
}

.commentContent {
    white-space : nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 520px;
    height: 25px;
    color: var(--text_3);
    
}


#left {
    margin-right: 3px;
}

#left:hover {
    filter: brightness(0.4);
}

#right {
    margin-left: 3px;
}

#right:hover {
    filter: brightness(0.4);
}