.pInfoContainer{
    margin: 20px;


}

.quitContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#quit {
    margin-right: 20px;
    color: var(--text_5);
    cursor: pointer;
}

.topContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mypageTitle {
    font-size: var(--h3);
    color: var(--text_2);
    font-weight: 450;
}

/* 프로필 사진 */
.profileDiv{
    margin-top: 20px;
    position: relative;
    width: 100px;
    height: 100px;
 
}

.profileDiv img {
    width: 100px;
}

.profile_option{
    width: 33px;
    height: 34px;
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-40%, 40%);
}

.profile_option:hover{
    cursor: pointer;
}

/* 아이디 박스 */
.topContainer .idDiv{
    display: flex;
    flex-direction: column;
    text-align: center;

}

/* 아이디 */
.topContainer .idDiv .id{
    margin: 15px 0;
    font-size: var(--h3);
    color: var(--text_3);
    white-space : nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

/* 버튼 박스 */
.pInfoContainer .topContainer .divBtn {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

/* 버튼 */
.topContainer .buttonDiv{
    padding: 5.5px 10.5px;
    margin: 0 5px;
    color: var(--text_3);
    background-color: var(--vg_2);
    border: 1px solid var(--line_1);
    border-radius: 10px;
}

/* 정보 박스 */
.bottomContainer {
    width: 300px;
    margin: 0 auto;
    padding: 55px 0;

}

.bottomContainer .sectionContainer {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.bottomContainer .sectionContainer img {
    width: 24px;
    height: 24px;
}

.bottomContainer .contentSpan{
    margin-left: 10px;
}




