.modalContainer {
    position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}


#exit{
    text-align: right;
    margin: 8px;
}


.innerContainer {
    background-color: white;
    border: 1px solid #B1B1B1;
    border-radius: 2px;
}