.myPageContainer{
    margin-left: 240px; 
    height: 100%;
    display: grid;
    grid-template-columns: 444px auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "leftTop rightTop "
    "leftBottom rightTop"
    "leftBottom rightBottom"
}

.personalInfo {
    grid-area: leftTop;
}

.healthInfo {
    grid-area: leftBottom;
}

.myList{
    grid-area: rightTop;
}

.calorieInfo{
    grid-area: rightBottom;
    height: 200px;
}