.box {
  width: 100%;
  margin: 20px;
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Search_box {
  width: 100%;
  height: 50px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
  background-color: #e6ecfc;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.Search_bar {
  width: 500px;
  height: 30px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 10px;
}
.SeachBtn {
  border-radius: 5px;
  width: 40px;
  height: 30px;
  margin-left: 10px;
  position: relative;
  top: 6px;
  background-color: var(--main);
}
.menuItem {
  color: var(--text_5) !important;
}

.activeItem {
  color: var(--main) !important;
  border-color: var(--main) !important;
}
.Menubar {
  border: 1px solid var(--main) !important;
  border-radius: 10px !important;
}

.P_text_h4 {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid var(--text_5);
}

.P_content {
  margin-top: 10px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
  height: 400px;
  min-width: 400px;

  display: grid;
  grid-template-rows: 80px 280px;
  overflow: hidden;
}
.P_list {
  display: flex;
  align-items: center;
  margin: -1px 15px 0px 15px;
  justify-content: space-between;
  cursor: pointer;
}
.UserProfile {
  display: flex;
  margin-top: 3px;
  align-items: center;
  justify-content: flex-end;
}
.UserPhoto {
  width: 40px;
  margin-right: 8px;
  border-radius: 50px;
}
.UserName {
  margin-right: 20px;
  color: var(--main);
  font-weight: bold;
  font-size: var(--h6);
}
.PostContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
}
.nickname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70px;
  font-size: 12px;
}
.SNS_nickname {
  margin-top: 20px;
  margin-bottom: 8px;
}
.allContent {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.noneMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.SNSContent {
  display: flex;
  margin-bottom: 30px;
  border-top: 0.5px solid var(--text_5);
  margin: 10px 20px 30px 20px;
  justify-content: space-between;
}
.SNSContent_list {
  cursor: pointer;
}
.SNS_userInfo {
  display: flex;
}
.photo {
  width: 220px;
  border-radius: 20px;
  margin-top: 20px;
}
.SNSbody {
  display: flex;
  flex-direction: column;
}
.SNS_photo {
  height: 240px;
}
.SNS_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 180px;
  margin-left: 10px;
}
.Oww_text_h4 {
  padding-top: 20px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.Oww_content {
  margin-top: 10px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
  width: 100%;
  /* max-width: 1000px; */
  min-width: 520px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.SNS_owwPhoto {
  height: 450px;
}
.oww_photo {
  width: 300px;
  border-radius: 20px;
  margin-top: 20px;
  overflow: hidden;
  height: 400px;
}
.SNS_footer {
  display: flex;
  justify-content: space-between;
}
.SNS_love {
  margin-right: 20px;
  display: flex;
}
.SNS_love_Text {
  font-size: 12px;
}
.loveSVG {
  width: 20px;
  margin-right: 10px;
}
.SNS_dietContent {
  display: flex;
  margin-bottom: 30px;
  margin: 10px 20px 30px 20px;
  justify-content: space-between;
}
.SNS_UserNav {
  display: flex;
  align-items: center;
}
.UserPhoto {
  width: 30px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 50px;
}
