.box {
  width: 100%;
  margin: 20px;
  flex: 1 1 40%;
}
.Search_box {
  width: 100%;
  height: 50px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
  background-color: #e6ecfc;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.Search_bar {
  width: 500px;
  height: 30px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 10px;
}
.SeachBtn {
  border-radius: 5px;
  width: 40px;
  height: 30px;
  margin-left: 10px;
  position: relative;
  top: 6px;
  background-color: var(--main);
}
.menuItem {
  color: var(--text_5) !important;
}

.activeItem {
  color: var(--main) !important;
  border-color: var(--main) !important;
}
.Menubar {
  border: 1px solid var(--main) !important;
  border-radius: 10px !important;
}

.P_text {
  background-color: #e6ecfc;
  color: var(--main);
  border-radius: 10px;
  height: 40px;
  display: flex;
  align-items: center;
}
.P_text_h4 {
  margin-left: 20px;
}

.P_content {
  margin-top: 10px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  height: 300px;
  display: grid;
  grid-template-rows: (4, 1fr);
  overflow: hidden;
}
.P_list {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--line_1);
  margin: -1px 15px 0px 15px;
  justify-content: space-between;
}
.UserProfile {
  display: flex;
  margin-top: 3px;
  align-items: center;
  justify-content: flex-end;
}
.UserPhoto {
  width: 40px;
  margin-right: 8px;
  border-radius: 50px;
}
.UserName {
  margin-right: 20px;
  color: var(--main);
  font-weight: bold;
  font-size: var(--h6);
}
