.List {
  width: 100%;
}

.ListHeader {
  background-color: #e6ecfc;
  display: grid;
  grid-template-areas: 'No title title author date tag tag views';
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  height: 40px;
  align-items: center;
}

.ListItem {
  margin-top: 40px;
  height: 30px;
  color: black;
  display: grid;
  grid-template-areas:
    'No title title author date tag tag views'
    'No title title author date tag tag views'
    'No title title author date tag tag views'
    'No title title author date tag tag views'
    'No title title author date tag tag views';
}

.ListHeader_No,
.No {
  grid-area: No;
  width: 30px;
  margin-left: 20px;
  font-size: 12px;
}
.ListHeader_Title,
.title {
  grid-area: title;
  width: 200px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ListHeader_Author,
.author {
  grid-area: author;
  width: 40px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ListHeader_Date,
.date {
  grid-area: date;
  width: 70px;
  font-size: 12px;
}
.ListHeader_Tag,
.tag {
  grid-area: tag;
  width: 200px;
  font-size: 12px;

}
.ListHeader_Views,
.views {
  grid-area: views;
  width: 40px;
  font-size: 12px;
}
.button {
  background-color: var(--main);
  color: white;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
}
.button:hover {
  background-color: blue;
  transition: 0.7s;
}
.pagenation {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.buttonline {
  display: flex;
  justify-content: flex-end;
}
.tagItem {
  background-color: var(--main);
  margin-left: 3px;
  border-radius: 5px;
  color: white;
  padding: 4px;
  height: 20px;
  font-size: 10px;
}
.tag {
  overflow: hidden;
  white-space: nowrap;
}
.ListBody {
  cursor: pointer;
}
.noPost {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
