.Container {
  display: grid;
  margin: 0px 120px 40px 350px;
  grid-auto-flow: column;
  grid-template-areas:
    'header  header'
    'category  category'
    'content  content'
    'content  content'
    'content  content'
    'footer  footer';

  height: 1500px;
}
.Searchbar {
  grid-area: header;
  margin-top: 40px;
}
.Category {
  grid-area: category;
}
.Popular {
  background-color: blue;
  grid-area: content;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
