.container {
  margin: 0px 120px 40px 320px;
  display: grid;
}
.box {
  margin-top: 30px;
  background-color: white;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
}
.allInput {
  margin: 30px;
  display: grid;
  grid-row-gap: 20px;
}

.Category {
  color: var(--main);
  font-weight: bold;
}
.Title {
  font-size: var(--h3);
  display: inline-block;
  line-height: 32px;

  height: 100%;
}
.Nav {
  display: flex;
  justify-content: space-between;
}
.PostNav {
  display: flex;
  justify-content: space-between;
  width: 400px;
  color: var(--text_4);
  font-size: 12px;
}
.postUser {
  display: flex;
}
.postUserImg {
  width: 40px;
  margin-right: 10px;
  margin-top: -8px;
  border-radius: 50px;
}
.ButtonD {
  margin-left: 20px;
  background-color: white;
  color: #f33f6a;
  border: 1px solid #f33f6a;
  border-radius: 10px;
  width: 90px;
  height: 30px;
}
.ButtonU {
  margin-left: 10px;
  background-color: white;
  color: var(--main);
  border: 1px solid var(--main);
  border-radius: 10px;
  width: 90px;
  height: 30px;
}

.Content {
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid var(--line_2);
  display: flex;
  flex-direction: column;
}

.Content_Text {
  margin-top: 30px;
}
.Img_Line {
  display: flex;
  margin-top: 30px;
}
.Content_Img {
  max-width: 400px;
}
.CommentWrite {
  display: flex;
  border-top: 1px solid var(--line_2);
  padding-top: 20px;
}
.CommnetSVG {
  display: flex;
  width: 100px;
}
.CommnetText {
  margin-top: 6px;
  margin-left: 6px;
  color: var(--text_4);
}
.CommentWriteBox {
  width: 500px;
  height: 30px;
  border: 1px solid var(--line_1);
  margin-left: 40px;
  margin-right: 10px;
}
.Commnet {
  border-top: 1px solid var(--line_2);
}
.PostLike {
  display: flex;
  white-space: pre;
}
.PostLikeSVG {
  margin-right: 5px;
  margin-top: -10px;
}

.ModalOverlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* semi-transparent black background */
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 40%;
  max-height: 60%;
  overflow: auto;
}

.modalBtnN {
  font-size: 16px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  color: white;
  background: var(--main);
}
.modalBtnN:hover {
  background-color: blue;
  font-weight: bold;
  transition: 0.7s;
}

.modalBtnY {
  font-size: 16px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  color: white;
  background: #f33f6a;
  margin-top: 20px;
}

.modalBtnY:hover {
  background-color: red;
  font-weight: bold;
  transition: 0.7s;
}
.tagItem {
  background-color: var(--main);
  margin-left: 3px;
  border-radius: 5px;
  color: white;
  padding: 4px;
  height: 20px;
  font-size: 10px;
}
.tag {
  overflow: hidden;
  white-space: nowrap;
}
.commentImage {
  width: 30px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 50px;
}
.userCommentInfo {
  display: flex;
}
.commentBody {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--line_2);
  margin-left: 40px;
  margin-top: -10px;
  display: flex;
}
.userNickname {
  font-size: 12px;
}
.deleteSVG {
  width: 15px;
  margin-left: 40px;
  cursor: pointer;
}
.view {
  display: flex;
}
.viewCount {
  margin-left: 10px;
}
