.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0px 32px 32px 32px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--line_2);
}

.dateInput {
  flex-grow: 1;
  font-family: 'pretendard';
  border: 1px solid var(--line_1);
  border-radius: 4px;
  padding: 10px 20px;
  color: var(--text_3);
  background: url(../../../public/assets/Main/calendar_icn.svg) no-repeat right
    21px center / 16px auto;
}

.dateInput::before {
  color: var(--text_5);
}

.dateInput:valid::before {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dateInput::-webkit-clear-button,
.dateInput::-webkit-inner-spin-button {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dateInput::-webkit-calendar-picker-indicator {
  background: transparent;
  color: transparent;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.submitBtn {
  padding: 10px 20px;
  border: 1px solid var(--line_1);
  background: var(--main);
  border-radius: 4px;
  margin-left: 10px;
  color: white;
}

.infoUl {
  padding: 0px 32px 32px 32px;
  max-height: 240px;
}

.infoLi {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  height: 100%;
}

.cate {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 100px;
  margin-top: 2px;
  height: 100%;
}

.title {
  font-size: var(--h5);
  color: var(--text_3);
  margin-bottom: 14px;
  height: 100%;
}

.icon {
  width: 16px;
}
.label {
  font-size: 14px;
  color: #c4cad5;
  margin-left: 6px;
  height: 100%;
}

.innerIext {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  max-width: 42vw;
  color: var(--text_4);
  line-height: 24px;
  height: 100%;
  overflow: hidden;
}
