.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.h1 {
  font-size: var(--h1);
  color: var(--text_1);
  font-weight: 700;
}

.edit_btn {
  cursor: pointer;
  width: 80px;
}

.edit_btn:active {
  cursor: pointer;
  filter: brightness(1.5);
}

.figure {
  background: white;
  padding: 40px;
  box-shadow: 0px 4px 6px rgba(15, 73, 166, 0.08);
  border-radius: 30px;
  margin: 0 !important;
}
