.contents {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px 32px;
}

.content {
  width: 33%;
  margin-right: 10px;
}

.content:last-child {
  margin-right: 0;
}

.img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.label {
  display: flex;
  flex-direction: column;
}

.title {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  font-size: var(--h6);
  font-weight: 700;
  color: var(--text_6);
  margin-bottom: 10px;
}

.context {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  color: var(--text_4);
}
