.container {
  display: block;
  width: 750px;
  height: 470px;
  background: white;
  box-shadow: 0px 4px 6px rgba(15, 73, 166, 0.08);
  border-radius: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
}

.title {
  font-weight: 700;
  font-size: var(--h3);
  /* line-height: 29px; */
  color: var(--text_6);
}

.moreBtn {
  color: var(--text_5);
}

.moreBtn:hover {
  color: var(--text_4);
}
