:root {
  --main: #3361ff;
  /** 텍스트 크기 */
  --h0: 60px;
  --h1: 36px;
  --h2: 32px;
  --h3: 24px;
  --h4: 20px;
  --h5: 18px;
  --h6: 16px;
  /** 텍스트 컬러 */
  --text_1: #484e5a;
  --text_2: #5e6674;
  --text_3: #5c7099;
  --text_4: #7e90b3;
  --text_5: #a3b1cc;
  --text_6: #405580;
  /** 라인 컬러 */
  --line_1: #b8c3d9;
  --line_2: #e6eaf2;
  /** 배경 컬러 */
  --bg_1: #e6ecfc;
  --bg_2: #fafbfc;
}
